<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content='text/html; charset=utf-8' http-equiv='Content-Type'/>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
        <link rel="stylesheet" href="{% link /styles/main.css %}"/>
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
        <script src="{% link /scripts/feather.min.js %}" defer></script>
    </head>

    <body class="bg-gray-300">
        <div class="container md:mx-auto p-4 md:flex">
            <aside class="flex-none md:w-56 text-center">
                <header class="bg-blue-300 text-4xl md:text-6xl p-2 mb-4">
                    <h1><a href="/">{{ site.title }}</a></h1>
                </header>

                <div class="bg-yellow-300 text-base md:text-xl p-2 mb-4">
                    {{ site.description }}
                </div>

                <div class="bg-green-300 p-2 mb-4 md:mb-0">
                    <ul class="list-none">
                        <li class="inline-block p-2">
                            <a href="https://github.com/{{ site.github }}" target="_blank" rel="noopener noreferer" title="github">
                                <i data-feather="github"></i>
                            </a>
                        </li>
                        <li class="inline-block p-2">
                            <a href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferer" title="twitter">
                                <i data-feather="twitter"></i>
                            </a>
                        </li>
                        <li class="inline-block p-2">
                            <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank" rel="noopener noreferer" title="rss">
                                <i data-feather="rss"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>

            <section class="flex-grow md:px-4">
                {{ content }}
            </section>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                feather.replace()
            })
        </script>
    </body>
</html>
