<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content='text/html; charset=utf-8' http-equiv='Content-Type'/>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"/>
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
        <script src="https://unpkg.com/feather-icons"></script>
    </head>

    <body>
        <div class="container">
            <aside>
                <header>
                    <h1><a href="/">{{ site.title }}</a></h1>
                </header>

                <div class="description">
                    {{ site.description }}
                </div>

                <div class="links">
                    <ul>
                        <li>
                            <a href="https://github.com/{{ site.github }}" target="_blank" rel="noopener noreferer" title="github">
                                <i data-feather="github" data-feather-width="48"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferer" title="twitter">
                                <i data-feather="twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank" rel="noopener noreferer" title="rss">
                                <i data-feather="rss"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>

            <section>
                {{ content }}
            </section>
        </div>

        <script>
            feather.replace({ width: 48, height: 48 })
        </script>
    </body>
</html>
